.itemList {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body{
overflow: scroll;
  }

  .itemList{
    display: flex;
    flex-direction: column;
  }
}