form {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

textarea {
  height: 20rem;
  resize: none;
}
input,
textarea {
  border: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  background-color: aliceblue;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: aliceblue;
}

.navBtn {
  font-family: Plaster;
  font-size: 5rem;
  border: none;
  background: none;
  margin-right: 1rem;
  transition: background-color 0.3s;
}

.navBtn:hover {
  border-radius: 0.5rem;
  background-color: beige;
}
