
section {
  min-height: 25vh;
  font-family: Plaster;
  font-size: 6rem;
}

.nameTag {
  background-color: #720303dd;
  color: beige;
  z-index: 2;
}

.imageContainer {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.bgImg {
  position: absolute;
  height: 100vh;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.portLink {
  border: none;
  background: 0;
  min-height: 25vh;
  font-family: Plaster;
  font-size: 9rem;
  transition: 0;
}

.portLink :hover {
  background: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  section {
    min-height: 25vh;
    font-family: Plaster;
    font-size: 3.5rem;
  }



  .bgImg {
    
    height: 100vh;
    position: absolute;
    z-index: -1;
    right: -620px;
    bottom: 0;
    overflow: hidden;
  }

  .portLink {
    border: none;
    background: 0;
    min-height: 25vh;
    font-family: Plaster;
    font-size: 5rem;
    transition: 0;
  }
}
