@import url("https://fonts.googleapis.com/css2?family=Plaster&display=swap");


section {
  min-height: 25vh;
  font-family: Plaster;
  font-size: 6rem;
}

.nameTag {
  background-color: #720303dd;
  color: beige;
  z-index: 2;
}

.bgImg {
  height: 100vh;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.portLink {
  border: none;
  background: 0;
  min-height: 25vh;
  font-family: Plaster;
  font-size: 9rem;
  transition: 0;
}

.portLink :hover {
  background: 0;
}
