.soonLabel{
    padding: 4rem;
    font-size: 9.6rem;
    background-color: #720303dd;
}

.bgImg {
    opacity: 50%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
  }

  
@media screen and (min-width: 320px) and (max-width: 480px) {
    .soonLabel{
        text-align: center;
        font-size: 5rem;
    }

    .bgImg{
        right: -37rem;
    }
}